/* DefinitionsPanel CSS Module */
.definitionContainer {
  height: 0%;
  color: var(--text-color);
}

.scrollable {
  max-height: 50vh; /* Limit the height to half the viewport */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 1rem; /* Add some padding for better readability */
  padding-top: 0;
}

.definitionBackground {
  background-color: var(--bottomsheet-background-color); /* Use bottom sheet background color */
  border-radius: 8px; /* Keep rounded corners */
}

.definitionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--subtle-text-color);
  margin-bottom: 0.2rem;
  padding-top: 0.2rem;
  position: sticky; /* keep header fixed during scroll */
  top: 0;
  background-color: var(--bottomsheet-background-color);
  z-index: 2;
}

.closeButton {
  background: none;
  border: none;
  color: var(--accent-color); /* Use accent color for button */
  font-size: 1rem;
  cursor: pointer;
}

.closeButton:hover {
  text-decoration: underline;
  color: var(--accent-color-hover); /* Use hover accent color */
}

.updateButton {
  background: none;
  border: none;
  color: var(--accent-color);
  font-size: 0.9rem;
  cursor: pointer;
  margin-left: 8px;
}

.updateButton:hover {
  text-decoration: underline;
  color: var(--accent-color-hover);
}

.definitionDictName {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: var(--accent-color);
}
